<h1><%=  "Finalized: #{@vacation.name} starting on #{@vacation.start_date.strftime('%m/%d/%Y')} and ending on #{@vacation.end_date.strftime('%m/%d/%Y')}"%></h1>
<%= render "show-helper" %>
<%= render "layouts/nav-bar" %>