<%= render "layouts/nav-bar" %>
<h1>FINALIZED</h1>
<h2 style='text-align:center'><%= "#{@vacation.name} starting on #{@vacation.start_date.strftime('%m/%d/%Y')} and ending on #{@vacation.end_date.strftime('%m/%d/%Y')}"%></h2>
<%= render "show-helper" %>
