* {
    font-family: Arial, Helvetica, sans-serif;
}

#search {
    text-align: center
}

h1 {
    text-align: center
}

.col-sm {
    border: solid 2px black;
    background:white;
}

.button {
    background: none;
    text-align: center;
    border: none
}



.col-heading {
    text-align: center;
    padding-top: 20px;
}




